<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form method="POST" autocomplete="off">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" placeholder="Enter a Password" class="<%= locals.passwordError ? 'error' : '' %>">
        <span class="error-message" id="password-error"><%= locals.passwordError %></span>
        <label for="confirmpassword">Confirm Password:</label>
        <input type="text" id="confirmpassword" name="confirmpassword" placeholder="Enter the same Password" class="<%= locals.passwordError ? 'error' : '' %>">
        <input type="submit" value="Reset password">
    </form>
</body>
</html>